<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret form</title>
</head>
<body>
    <form action="/secretForm" method="post">
        <label for="secret">Enter the secret code</label>
        <input type="password" name="secret" id="secret">
        <button type="submit">Submit</button>
    </form>
</body>
</html>