<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Neon - Elite access</title>
</head>
<body>
    <h1>Club Neon - Elite access</h1>
    <nav>
        <div><a href="/sign-out">LOGOUT</a></div>
        <div>Are you a member of high society? If yes <a href="/secretForm">Click here</a></div>
    </nav>
    <h1>Welcome, <%= username %>!</h1>
    <div class="messageBoard">
        <div><% results.map((res) => { %>
            <div><%= res.username %></div>
            <div><%= res.message %></div>
       <% }) %></div>
    </div>
    <br>
    <form action="/secretHome   " method="post">
        <div>Add a message to the board</div>
        <label for="message">Add Message</label>
        <input type="text" name="message" id="message" required>
        <input type="hidden" name="originalUserId" value="<%= user_id %>">
        <button type="submit">Add</button>
    </form>
</body>
</html>